@import "../../../variables";
body {
  font-family: $fontMontserrat;
}
h1 {
  font-family: $fontAccentBebas;
  font-size: 4rem;
}
table {
  background-color: transparent;
  width: 100%;
  .mat-header-cell {
    padding-left: 1rem;
    color: $colorText;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .mat-cell {
    padding-left: 1rem;
    max-width: 500px;
    text-align: left;
    color: $colorText;
    border-bottom: 1px solid $colorText;
    &.truncate-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .mat-icon {
        color: $colorText;
      }
    }
  }
  .photo {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
  }
}
