<div class="container">
    <div class="title">
        <h1>Categorias</h1>
    </div>
    <div class="ofert">
        <h2>CONSIGUE TODAS LAS CLASES</h2>
        <div class="right-ofert">
            <h3>4,99€ al mes, pago anual</h3>
            <button mat-flat-button color="accent" [routerLink]="['/signup']">ÚNETE</button>
        </div>
    </div>

    <div class="filter">
        <div class="filter-functions">
            <h3 [routerLink]="['/series']">Todas las clases</h3>
            <h3>Recién añadido</h3>
        </div>
        <div class="cards">
            <mat-card class="example-card" *ngFor="let category of categories">
                 <mat-card-content  (click)="select(category.id)" 
                    [ngStyle]="{'background-image': 'url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1622793421/poseidon/evqjn1klh9gnq7dy7mog.jpg)'}">
                    
                    <h2 >
                        {{category.name}}
                    </h2>
                    <div class="gradient"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>