<div class="login">
  <h3>VIVE LA EXPERIENCIA</h3>
  <div class="form">
    <form id="loginForm" [formGroup]="signUpForm" (ngSubmit)="saveClick(signUpForm)">


      <mat-form-field class="example-full-width" appearance="outline">

        <input matInput type="text" placeholder="Tu nombre" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">

        <input matInput type="tel" placeholder="Tu Teléfono" formControlName="phone">
      </mat-form-field>
      <div class="input-file-container" hidden>
        <input (change)="onFilePic($event)" class="input-file" type="file" id="my-file" type="file"
          formControlName="avatar" #file>
        <label tabindex="0" for="my-file" class="input-file-trigger">Imagen de perfil</label>
        <p class="file-return">{{avatar}}</p>
      </div>


      <mat-form-field class="example-full-width" appearance="outline">

        <input class="profilePic" (click)="file.click()" matInput placeholder="Imagen de perfil" [value]="avatar">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">

        <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">

        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="error">Datos incorrectos</mat-error>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit">ÚNETE</button>
      <p class="member">¿Ya eres miembro? <a [routerLink]="['/login']">Inicia Sesión</a> </p>
    </form>
  </div>

</div>