@import "../../../variables";
@import "../../../mixins";

.container {
  text-align: center;
  margin-bottom: 3rem;
  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }
  .categoryGrid {
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    gap: 5rem 0;
    padding: 0 3rem;
    .mat-button {
      border: 1px solid $colorGreen;
      border-radius: 10px;
      width: 250px;
      h2 {
        font-family: $fontMontserrat;
        font-size: 1.5rem;
        color: $colorText;
        text-decoration: none;
        padding-top: 5%;
      }
    }
  }
  .mat-stroked-button {
    margin-top: 5rem;
    border: none;
    background-color: $colorGreen;
    color: $colorBackgroundDark;
    width: 250px;
    padding: 1rem 0;
    border-radius: 8px;
    font-family: $fontMontserrat;
    font-weight: 700;
  }
}

.buttonjoin {
  text-align: center;
  margin-bottom: 7%;
  .mat-flat-button {
    height: 70px;
    width: 250px;
  }
}

//medium screen
@media (max-width: 1350px) {
  .container {
    .categoryGrid {
      grid-template-columns: repeat(auto-fit, minmax(min(335px, 100%), 1fr));
    }
  }
}

@media (max-width: 950px) {
  .container {
    padding: 0;
    .categoryGrid {
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    }
  }
}

@media (max-width: 900px) {
  .container {
    margin: 2rem 0 5rem;
    .categoryGrid {
      grid-template-columns: repeat(auto-fit, minmax(min(335px, 100%), 1fr));
    }
  }
}
