@import "../../../variables";
@import "../../../mixins";

.container {
  text-align: center;
  margin: 2rem 0 5rem;

  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }

  .categoryGrid {
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    grid-gap: 4.5rem;
    .mat-button {
      border: 1px solid $colorGreen;
      border-radius: 10px;
      width: 250px;
      padding: 1rem 0;
      h2 {
        font-family: $fontMontserrat;
        font-size: 1.5rem;
        color: $colorText;
        text-decoration: none;
        padding-top: 5%;
      }
    }
  }

  .mat-stroked-button {
    margin-top: 5rem;
    border: none;
    background-color: $colorGreen;
    color: $colorBackgroundDark;
    width: 250px;
    padding: 1rem 0;
    border-radius: 8px;
    font-family: $fontMontserrat;
    font-weight: 700;
  }
}

.buttonjoin {
  text-align: center;
  margin-bottom: 7%;
  .mat-flat-button {
    height: 70px;
    width: 250px;
  }
}
