.container {
  text-align: center;
  margin: 2rem 0 5rem;

  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }

  .categoryGrid {
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    grid-gap: 4.5rem;
    .mat-button {
      border: 1px solid #4caf50;
      border-radius: 10px;
      width: 250px;
      padding: 1rem 0;
      a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
      }
    }
  }

  .mat-stroked-button {
    margin-top: 5rem;
    border: none;
    background-color: #4bb26b;
    color: #000;
    width: 250px;
    padding: 1rem 0;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 700;
  }
}
