.intro {
  color: #fff;
  font-family: "Montserrat";
  background-color: #181818;
  .introImg {
    // height: 100vh;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    //overlay

    .title {
      text-align: center;
      font-weight: 700;

      h2 {
        font-style: italic;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
      }
      h3 {
        font-size: 2.3rem;
        font-style: italic;
        margin-top: 4rem;
        font-weight: 700;
      }
    }
    .btonsIntro {
      display: flex;
      flex-wrap: wrap;
      margin-top: 13rem;
      justify-content: center;
      p {
        font-size: 12px;
        text-align: center;
      }

      .btnJoin {
        align-items: center;
        padding: 0 2.5rem;
        button {
          padding: 0.5rem 0;
          color: #fff;
          width: 15rem;
        }
      }
    }
  }
}

.gradientTry::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #181818,
    #181818,
    #a8eb1200,
    #00bf7200,
    #a8eb1200
  );
  z-index: -1;
}
// linear-gradient(to top, #181818, #181818, #a8eb1200, #00bf7200, #a8eb1200);

.episodes-container {
  padding: 3rem;
  .lessonsBox {
    height: 60vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;

    .trailer {
      height: 94%;
      background-image: url(https://estaticos-cdn.prensaiberica.es/clip/e6e270bb-51b0-447d-9ab9-ead50623c852_16-9-aspect-ratio_default_0.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .playTrailerBtn {
      .playTrailer {
        font-size: 17px;
        text-align: start;
        padding: 1rem 1rem;
        color: #fff;
        width: 23rem;
      }
    }

    .lessonsArray {
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.bioSportPlayr {
  font-size: 20px;
  padding: 5rem 0 1.2rem 0;
}

.lessonsCont {
  font-size: 13px;
  padding-bottom: 3rem;
  span {
    color: #bab9b9;
  }
}

hr {
  color: #bab9b9;
}

.forDrkBtn {
  background-color: #192120;
}

// Para VideoIntro Gradient

// .gradient {
//   position: absolute;
//   opacity: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 12px;
//   transition: 0.3s;
//   background-size: cover;
//   background: linear-gradient(
//     transparent 0%,
//     rgba(255, 255, 255, 0.062) 65%,
//     rgba(255, 255, 255, 0.062) 100%
//   );
//   opacity: 1;
//   cursor: pointer;
// }

//large screen
@media (max-width: 1200px) {
}

//medium screen
@media (max-width: 900px) {
  .lessonsBox {
    height: 53vh !important;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
  }

  .bioSportPlayr {
    font-size: 17px;
    padding: 3rem 0 1.2rem 0;
  }
}

// Aux for .trailer
@media (max-width: 780px) {
  .lessonsBox {
    height: 50vh !important;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
  }
  .bioSportPlayr {
    font-size: 17px;
    padding: 1.7rem 0 1.2rem 0;
  }
}

// Aux-2 for .trailer
@media (max-width: 700px) {
  .lessonsBox {
    height: 50vh;
    display: flex !important;
    flex-direction: column;
  }
  .bioSportPlayr {
    font-size: 17px;
    padding: 1.7rem 0 1.2rem 0;
  }
}

// small screen
@media (max-width: 450px) {
  .introImg {
    // height: 100vh;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    //overlay

    .title {
      h2 {
        font-size: 3rem;
      }
      .h3 {
        font-size: 2rem;
        margin-top: 3rem;
      }
    }
  }

  .bioSportPlayr {
    text-align: justify;
    font-size: 13px;
    padding: 3rem 0 1.2rem 0;
  }
}
