.mr {
  margin-right: 5px;
}

mat-toolbar {
  padding: 55px 34px;
  display: flex;
  justify-content: space-between;
  .mat-icon-button {
    display: none;
    mat-icon {
      font-size: 2.5rem;
    }
  }
  span {
    cursor: pointer;
  }
  .logo {
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626270088/poseidon/streamclass2_hp2muh.png);
    width: 250px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
  }

  .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-right: 50px;
      cursor: pointer;
    }

    .search {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 50px;
    }

    .avatar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        border: 5px solid #4bb26b;
      }
    }
  }
}

@media (max-width: 960px) {
  mat-toolbar {
    .items {
      .mat-icon-button {
        display: block;
      }
    }
  }
}
