@import "../../../../variables";
@import "../../../../mixins";

.miguel {
  background-color: #181818;
  color: white !important;
  width: 200px;
  border: none;
  border-radius: 6px;
  padding: 1rem 0.5rem;

  &:focus {
    border-bottom: 1px solid #fff;
    border-radius: 6px 6px 0 0;
  }
}

.mr {
  margin-right: 5px;
}

mat-toolbar {
  padding: 55px 34px;
  @include flex-just-between-only;
  .mat-icon-button {
    display: none;
    mat-icon {
      font-size: 2.5rem;
    }
  }
  span {
    cursor: pointer;
  }
  .logo {
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626270088/poseidon/streamclass2_hp2muh.png);
    width: 250px;
    height: 60px;
    @include bg-contain;
    align-self: center;
    cursor: pointer;
  }

  .items {
    @include flex-center;
    .mat-button {
      @include flex-justify-center;
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0 50px 0 0;
      cursor: pointer;
    }

    .search {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 50px 0 0;
      z-index: 9999;
    }

    .avatar {
      @include flex-justify-between;
      cursor: pointer;
      margin: 0 40px 0 0;
      img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        border: 5px solid $colorGreen;
      }
    }
  }
}

@media (max-width: 960px) {
  mat-toolbar {
    .items {
      .mat-icon-button {
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    .items {
      .mat-button {
        margin: 0 10px 0 0;
      }
      .search {
        margin: 0 10px 0 0;
      }
      .avatar {
        margin: 0 5px 0 0;
        img {
          width: 45px;
          height: 45px;
          border-radius: 999px;
          border: 5px solid $colorGreen;
        }
      }
    }
  }
}
