.mr {
  margin-right: 5px;
}

mat-toolbar {
  padding: 55px 34px;
  display: flex;
  justify-content: space-between;
  .mat-icon-button {
    display: none;
    mat-icon {
      font-size: 2.5rem;
    }
  }
  span {
    cursor: pointer;
  }
  .logo {
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626270088/poseidon/streamclass2_hp2muh.png);
    width: 250px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-button {
      display: flex;
      justify-content: center;
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0 50px 0 0;
      cursor: pointer;
    }

    .search {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 50px 0 0;
    }

    .avatar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin: 0 40px 0 0;
      img {
        width: 45px;
        height: 45px;
        border-radius: 999px;
        border: 5px solid #4bb26b;
      }
    }
  }
}

@media (max-width: 960px) {
  mat-toolbar {
    .items {
      .mat-icon-button {
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    .items {
      .mat-button {
        margin: 0 10px 0 0;
      }
      .search {
        margin: 0 10px 0 0;
      }
      .avatar {
        margin: 0 5px 0 0;
        img {
          width: 45px;
          height: 45px;
          border-radius: 999px;
          border: 5px solid #4bb26b;
        }
      }
    }
  }
}
