<div class="contacts">
  <h2>CONTACTO</h2>
  <hr />
  <div class="contacts-block">
    <div class="radio-settings">
      <div class="radio"></div>
    </div>

    <div class="radio-settings">
      <div class="container-settings">
        <div>
          <p class="contact-details">
            <span class="color-span">Email:</span> StreamClass@email.com
          </p>
        </div>
        <div>
          <p class="contact-details">
            <span class="color-span">Dirección:</span>
            C/Del Deporte Edificio 1
          </p>
        </div>
        <div>
          <p class="contact-details">
            <span class="color-span">Teléfono:</span>
            666 99 99 99
          </p>
        </div>
      </div>

      <form class="form1">
        <div class="labels lb1">
          <label for="text"></label>
          <input
            type="text"
            name="text"
            class=".input uno"
            placeholder="Nombre"
          />

          <label for="text"></label>
          <input
            type="text"
            name="username"
            class=".input dos"
            placeholder="Apellidos"
          />
        </div>

        <div class="labels lb2">
          <label for="text"></label>
          <input
            type="text"
            name="username"
            class=".input tres"
            placeholder="Email"
          />

          <label for="text"></label>
          <input
            type="text"
            name="username"
            class=".input cuatro"
            placeholder="Teléfono"
          />
        </div>
        <div class="pinkMess">
          <textarea placeholder="Mensaje"></textarea>
          <button class="btnEdit" mat-flat-button color="accent" type="button">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
