<div class="profile">
  <h2>CONTACTO</h2>
  <hr />
  <div class="profile-block">
    <div class="avatar-settings">
      <div class="avatar"></div>
    </div>

    <div class="profile-settings">
      <div class="container-settings">
        <div>
          <p class="user-details">
            <span class="color-span">Email:</span> StreamClass@email.com
          </p>
        </div>
        <div>
          <p class="user-details">
            <span class="color-span">Dirección:</span>
            C/Del Deporte Edificio 1
          </p>
        </div>
        <div>
          <p class="user-details">
            <span class="color-span">Teléfono:</span>
            666 99 99 99
          </p>
        </div>
      </div>

      <!-- <p>Verificar número de teléfono</p>
            <p class="user-details">button?</p> -->
      <!-- <hr />
      <div class="form">
        <form
          id="loginForm"
          [formGroup]="loginForm"
          (ngSubmit)="saveClick(loginForm)"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="checkbox"
              placeholder="Teléfono"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="error">Datos incorrectos</mat-error>
          </mat-form-field>
          <button mat-flat-button color="accent" type="submit">Enviar</button>
        </form>
      </div> -->
      <!-- </div>
  </div>
  <hr />
  <div class="grid">
    <div class="title">detalle de plan</div>
    <div><span class="premium">Premium</span></div>
    <div class="link">
      <p>Cambiar plan</p>
      <p><span class="red">Cancelar suscripción</span></p>
    </div>
  </div>
  <hr />
  <div class="grid">
    <div class="title">configuración</div>
    <div class="details">
      <p>Participar</p>
      <p>Activar un dispositivo</p>
      <p>Administrar descargas en dispositivos</p>
      <p>Cerrar sesión en todos los dispositivos</p>
      <p>Descargar tus datos personales</p>
      <p><span class="red">Eliminar tu cuenta</span></p>
    </div>
    <div class="link btn-right">
      <button mat-flat-button (click)="signout()" color="accent" type="button">
        Cerrar Sesión
      </button> -->
      <!-- </div>
  </div>
</div> -->
    </div>
  </div>
</div>
