<div class="contacts">
  <h2>CONTACTO</h2>
  <hr />
  <div class="contacts-block">
    <div class="radio-settings">
      <div class="radio"></div>
    </div>

    <div class="radio-settings">
      <div class="container-settings">
        <div>
          <p class="contact-details">
            <span class="color-span">Email:</span> StreamClass@email.com
          </p>
        </div>
        <div>
          <p class="contact-details">
            <span class="color-span">Dirección:</span>
            C/Del Deporte Edificio 1
          </p>
        </div>
        <div>
          <p class="contact-details">
            <span class="color-span">Teléfono:</span>
            666 99 99 99
          </p>
        </div>
      </div>

      <!-- <p>Verificar número de teléfono</p>
            <p class="user-details">button?</p> -->
      <!-- <hr />
      <div class="form">
        <form
          id="loginForm"
          [formGroup]="loginForm"
          (ngSubmit)="saveClick(loginForm)"
        >
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="checkbox"
              placeholder="Teléfono"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="error">Datos incorrectos</mat-error>
          </mat-form-field>
          <button mat-flat-button color="accent" type="submit">Enviar</button>
        </form>
      </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
