@import "../../../../variables";
@import "../../../../mixins";

.mr {
  margin-right: 5px;
}

mat-toolbar {
  padding: 55px 34px;
  @include flex-just-between-only;
  .mat-icon-button {
    display: none;
    mat-icon {
      font-size: 2.5rem;
    }
  }
  span {
    cursor: pointer;
  }
  .logo {
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626270088/poseidon/streamclass2_hp2muh.png);
    width: 250px;
    height: 60px;
    @include bg-contain;
    align-self: center;
    cursor: pointer;
  }
  .items {
    button {
      font-weight: 500;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin-right: 50px;
      cursor: pointer;
    }
  }
}

@media (max-width: 960px) {
  mat-toolbar {
    .items {
      .mat-icon-button {
        width: 0px;
        display: block;
      }
    }
  }
}
