h1{
    font-size: 3em;
    margin-bottom: 5%;
  }
  
  .addNew{
    margin: 5px;
  }
  
  table,
  mat-paginator,
  mat-form-field {
    width: 80%;
    margin: auto;
  }
  
  .imageTable{
    width: 100px;
    height: 150px;
    margin: 5px;
  }
  
  .mat-table{
    background-color: transparent !important;
    *{
      color: white !important;
    } 
  }
  .editButtons button{
    margin: 3px;
    width: 100px;
  }
  
  .mat-paginator{
    background-color: transparent !important;
    *{
      color: white !important;
    } 
  }
  
  .mat-elevation-z8{
    background-color: transparent !important;
    padding: 20px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 30%;
    margin-left:10%
  }
  
  