table,
mat-paginator,
mat-form-field {
  width: 80%;
  margin: auto;
}

.mat-elevation-z8{
  background-color: white;
  padding: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin: auto;
}

td,
th {
  width: 25%;
}
