<div class="profile">
  <h2>{{ user?.name }}</h2>
  <hr />
  <div class="profile-block">
    <div class="avatar-settings">
      <div
        class="avatar"
        [ngStyle]="{ 'background-image': 'url(' + user?.avatar + ')' }"
      ></div>

      <button
        (click)="editAvatar()"
        mat-flat-button
        color="accent"
        type="submit"
      >
        CAMBIAR
      </button>
    </div>

    <div class="profile-settings">
      <!-- <p class="cursor" (click)="editUser('email')">Cambiar correo</p> -->
      <div class="container-settings">
        <div>
          <p class="user-details">
            <span class="color-span">Email:</span> {{ user?.email }}
          </p>
          <button
            class="btnEdit"
            mat-flat-button
            color="accent"
            type="button"
            (click)="editUser('email')"
          >
            Editar
          </button>
        </div>
        <div>
          <p class="user-details">
            <span class="color-span">Contraseña:</span>
            <span class="pass">*********</span>
          </p>
          <button
            class="btnEdit"
            mat-flat-button
            color="accent"
            type="button"
            (click)="editUser('password')"
          >
            Editar
          </button>
        </div>
        <div>
          <p class="user-details">
            <span class="color-span">Teléfono:</span> {{ user?.phone }}
          </p>
          <button
            class="btnEdit"
            mat-flat-button
            color="accent"
            type="button"
            (click)="editUser('phone')"
          >
            Editar
          </button>
        </div>
      </div>

      <!-- <p>Verificar número de teléfono</p>
            <p class="user-details">button?</p> -->
      <hr />
      <p>Gestionar información de pago</p>
      <p>Añadir método de pago secundario</p>
      <p>Datos de facturación</p>
      <hr />
      <p>Canjear tarjeta o código de promoción</p>
      <p>Donde comprar tarjeta de regalo</p>
    </div>
  </div>
  <hr />
  <div class="grid">
    <div class="title">detalle de plan</div>
    <div>
      <span class="premium">{{ user?.role }}</span>
    </div>
    <div class="link">
      <p>Cambiar plan:</p>
      <div class="planFormBox">
        <form
          id="roleForm"
          [formGroup]="roleForm"
          (ngSubmit)="saveForm(roleForm)"
        >
          <div class="selectBox">
            <mat-form-field class="green">
              <mat-label>Seleccione</mat-label>
              <mat-select formControlName="role">
                <mat-option value="premium">Premium</mat-option>
                <mat-option value="user">Básico</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-flat-button class="btnEdit" color="accent" type="submit">
            Enviar
          </button>
        </form>
      </div>

      <!-- <app-coches-card-list [coches]="coches" (editar)="editar.emit($event)"  *ngIf="mostrarTarjetas; else mostrarGrid"></app-coches-card-list> -->

      <p><span class="red">Cancelar suscripción</span></p>
    </div>
  </div>
  <hr />
  <div class="grid">
    <div class="title">configuración</div>
    <div class="details">
      <p>Participar</p>
      <p>Activar un dispositivo</p>
      <p>Administrar descargas en dispositivos</p>
      <p>Cerrar sesión en todos los dispositivos</p>
      <p>Descargar tus datos personales</p>
      <p><span class="red">Eliminar tu cuenta</span></p>
    </div>
    <div class="link btn-right">
      <button mat-flat-button (click)="signout()" color="accent" type="button">
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>
