<div class="profile">

    <h2>CUENTA</h2>
    <hr>
    <div class="profile-block">
        <div class="avatar-settings">
            <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + user?.avatar + ')' }"></div>

            <button mat-flat-button color="accent" type="submit">CAMBIAR</button>
        </div>

        <div class="profile-settings">
            <p>Cambiar correo</p>
            <p class="user-details">{{user?.email}} {{user?.name}}</p>
            <p>Cambiar contraseña</p>
            <p class="user-details">button?</p>
            <p>Cambiar número de teléfono</p>
            <p class="user-details">{{user?.phone}}</p>
            <p>Verificar número de teléfono</p>
            <p class="user-details">button?</p>
            <hr>
            <p>Gestionar información de pago</p>
            <p>Añadir método de pago secundario</p>
            <p>Datos de facturación</p>
            <hr>
            <p>Canjear tarjeta o código de promoción</p>
            <p>Donde comprar tarjeta de regalo</p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div class="title">detalle de plan</div>
        <div class="details"><span class="premium">Premium</span></div>
        <div class="link">
            <p>Cambiar plan</p>
            <p><span class="red">Cancelar suscripción</span></p>
        </div>
    </div>
    <hr>
    <div class="grid">
        <div class="title">configuración</div>
        <div class="details">
            <p>Participar</p>
            <p>Activar un dispositivo</p>
            <p>Administrar descargas en dispositivos</p>
            <p>Cerrar sesión en todos los dispositivos</p>
            <p>Descargar tus datos personales</p>
            <p> <span class="red">Eliminar tu cuenta</span></p>

        </div>
        <div class="link btn-right"> <button mat-flat-button (click)="signout()" color="accent" type="button">Cerrar
                Sesión</button></div>

    </div>


</div>