<div class="profile">

    <h2>CUENTA</h2>
    <hr>
    <div class="profile-block">
        <div class="avatar-settings">
            <div class="avatar"></div>

            <button mat-flat-button color="accent" type="submit">CAMBIAR</button>
        </div>

        <div class="profile-settings">
            <p>Cambiar correo</p>
            <p>Cambiar contraseña</p>
            <p>Cambiar número de teléfono</p>
            <p>Verificar número de teléfono</p>
            <hr>
            <p>Gestionar información de pago</p>
            <p>Añadir método de pago secundario</p>
            <p>Datos de facturación</p>
            <hr>
            <p>Canjear tarjeta o código de promoción</p>
            <p>Donde comprar tarjeta de regalo</p>
        </div>
    </div>
    <hr>




</div>