@import "../../variables";

.result-container {
  width: 100%;
  display: flex;
  padding: 4rem;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    rgba(24, 24, 24, 1) 0%,
    rgb(136, 135, 135) 50%,
    rgba(24, 24, 24, 1) 100%
  );
  .button-actions {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    .mat-raised-button {
      padding: 0.5rem 3rem;
      margin-bottom: 1rem;
      color: $colorText;
      background-color: $colorGreen;
    }
  }
}
