.container {
  color: #fff;
  padding: 4rem 7rem;
  text-align: left;
  font-family: "Montserrat";

  .title {
    text-align: left;
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 3.1rem;
    }
  }

  .ofert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 500;
    background-color: #192120;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 12px;

    h2 {
      margin-top: 18px;
      font-weight: 500;
    }

    .right-ofert {
      display: flex;
      align-items: center;

      h3 {
        margin-top: 18px;
      }

      .mat-flat-button {
        margin-left: 4rem;
        color: #fff;
        padding: 0.5rem 3rem;
        border-radius: 8px;
        background-color: #4bb26b !important;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 4rem;

    .filter-functions {
      font-family: "Montserrat";
      font-weight: 500;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .mat-card {
        width: 300px;
        height: 450px;
        border-radius: 10px;
        margin: 0.6rem;
        background-color: #232323;
        color: #fff;
        padding: 0;
      }

      .mat-card-content {
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        border-radius: 12px;
        position: relative;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.005);
        }

        .gradient {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          transition: 0.3s;

          &:hover {
            background: linear-gradient(
              transparent 0%,
              rgba(255, 255, 255, 0.062) 65%,
              rgba(255, 255, 255, 0.281) 100%
            );
            opacity: 1;
            cursor: pointer;
          }
        }

        h2 {
          font-style: italic;
        }
      }
    }
  }

  h3 {
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .container {
    .filter {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    .filter {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
