.video {
  position: relative;
  max-height: 70rem;
  overflow: hidden;
  border-radius: 5px;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+0,9e37f2+67,ffffff+100&0.8+0,0.5+100 */
    background: -moz-linear-gradient(
      -45deg,
      rgba(134, 134, 134, 0.8) 0%,
      rgba(76, 175, 80, 0.6) 30%,
      rgba(255, 255, 255, 0.048) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      rgba(131, 131, 131, 0.8) 0%,
      rgba(76, 175, 80, 0.6) 10%,
      rgba(255, 255, 255, 0.13) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      rgba(102, 102, 102, 0.8) 0%,
      rgba(76, 175, 80, 0.6) 0%,
      rgba(255, 255, 255, 0.151) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc891c1e', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  video {
    display: block;
    width: 100%;
  }
}

.content-video {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;

  h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-size: 7rem;

    span {
      background-color: #525252a6;
      font-size: 2rem;
      padding: 1rem 2rem;
    }
  }
}

@media (max-width: 600px) {
  .content-video {
    h2 {
      span {
        font-size: 1rem;
      }
    }
  }
}
