.mat-form-field-wrapper {
  .mat-form-field-flex {
    background-color: #fffdfd !important;
  }
}

.mat-dialog-content {
  margin: 0 auto;
  padding: 0 24px;
  /* max-height: 65vh; */
  overflow: inherit;
  -webkit-overflow-scrolling: touch;
}

.modal {
  position: relative;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: red;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #181818;
  border-radius: 4px;
  &::placeholder {
    text-transform: capitalize;
  }
}

.btn_color {
  color: #fff;
}

.ng-invalid {
  border-color: #ff0000;
}

/*
 * Modal
 *
 * This is a simple modal that will show up.
 * It will have two buttons, one to confirm or cancel, and one to close the modal.
 *
 * It will have a title, and a body.
 * The body can be any HTML.
 *
 * The modal will be centered by default, and it will be on the top of the page.
 *
 * Example:
 * <confirmation-modal
 *     [title]="'Delete this record?'"
 *     [body]="'Are you sure you want to delete this record?'"
 *     [show-cancel-button]="true"
 *     (confirm)="deleteRecord()"
 *     (cancel)="cancelDelete()"
 *     (close)="closeModal()">
 * </confirmation-modal>
 */
