<div class="modal" mat-dialog-title>
  <mat-icon class="delete" mat-raised-button mat-dialog-close color="accent">clear</mat-icon>
  <h1>
    {{data?.title || 'Confirmación'}}
  </h1>
</div>
<div mat-dialog-content>
  <div class="login">
    <div class="form">
      <form id="loginForm" [formGroup]="editUser" (ngSubmit)="saveClick(editUser)">

        <input matInput type="{{data.property}}" [placeholder]="data?.property!" formControlName="value">
        <input *ngIf="data.property === 'password'" matInput type="{{data.property}}" placeholder="Repeat Password"
          formControlName="rPassword">
        <mat-error *ngIf="checkPassword()">Las
          contraseñas tienen que
          coincidir</mat-error>
        <div mat-dialog-actions>
          <button mat-raised-button mat-dialog-close color="primary">{{data?.optionNo ||"No"}}</button>
          <button [disabled]="checkPassword()" class="btn_color" type="submit" mat-raised-button
            [mat-dialog-close]="true" color="accent">{{data?.optionYes
            ||
            'Si'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>