.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 6rem;
  .langButton {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.1rem 0 0.4rem 0.2rem;
    width: 6rem;
    a {
      font-size: 12px;
      color: #bab9b9;
      text-decoration: none;
      span {
        margin: 3px 0 0 18px;
        font-size: 18px;
      }
    }
  }
  .list {
    padding: 0 2rem;
    h4 {
      color: #fff;
    }
    ul {
      padding-left: 0%;
      list-style: none;
      a {
        text-decoration: none;
        color: #bab9b9;
      }
    }
  }
}

// @media (max-width: 1200px) {

// }

//medium-screen
@media (max-width: 900px) {
}
