<!-- FOOTER -->
<div class="group">
  <div class="auxBox">
    <div class="helpPhone">
      <p>
        ¿Te ayudamos?
        <span class="phone"
          ><strong
            >Llama al <span class="phoneJump">691 10 59 43</span></strong
          ></span
        >
      </p>
      <div class="langButton">
        <a href="#">Español <span class="material-icons"> language </span></a>
      </div>
    </div>

    <div class="list">
      <h4>STREAMCLASS</h4>
      <ul class="streamLi">
        <li><a href="">StreamClass</a></li>
        <li><a href="">Dispositivos</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </div>

  <div class="auxBox">
    <div class="list supportAlign">
      <h4>SOPORTE</h4>
      <ul class="supportLi">
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Ayuda</a></li>
        <li>
          <a href="">Soporte<i class="far fa-question-circle"></i></a>
        </li>
        <li><a href="">Cuenta</a></li>
      </ul>
    </div>

    <div class="list">
      <h4>POLÍTICAS</h4>
      <ul class="policicyLi">
        <li><a href="">Política de privacidad</a></li>
        <li><a href="">Términos de uso</a></li>
        <li><a href="">Política legal</a></li>
      </ul>
    </div>
  </div>
</div>
