<!-- FOOTER -->

<div class="helpPhone">
  <p>¿Te ayudamos? Llama al 691 10 59 43</p>
  <button mat-flat-button color="accent" type="button">
    <a href="#">Español</a>
  </button>
</div>

<div class="streamclassList">
  <ul class="streamLi">
    <li><a href="">StreamClass</a></li>
    <li><a href="">Dispositivos</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contacto</a></li>
  </ul>
</div>

<div class="supportList">
  <ul class="supportLi">
    <li><a href="">Preguntas frecuentes</a></li>
    <li><a href="">Ayuda</a></li>
    <li>
      <a href="">Soporte<i class="far fa-question-circle"></i></a>
    </li>
    <li><a href="">Cuenta</a></li>
  </ul>
</div>

<div class="policyList">
  <ul class="policicyLi">
    <li><a href="">Política de privacidad</a></li>
    <li><a href="">Términos de uso</a></li>
    <li><a href="">Política legal</a></li>
  </ul>
</div>
