<!-- FOOTER -->
<div class="group">
  <div class="auxBox">
    <div class="helpPhone">
      <p>
        ¿Te ayudamos?
        <span class="phone"><strong>Llama al <span class="phoneJump">691 10 59 43</span></strong></span>
      </p>
      <div class="langButton">
        <a href="#">Español <span class="material-icons"> language </span></a>
      </div>
    </div>

    <div class="list">
      <h4>STREAMCLASS</h4>
      <ul class="streamLi">
        <li>
          <p [routerLink]="['/contacts']">StreamClass</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Dispositivos</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Blog</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Contacto</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="auxBox">
    <div class="list supportAlign">
      <h4>SOPORTE</h4>
      <ul class="supportLi">
        <li>
          <p [routerLink]="['/contacts']">Preguntas frecuentes</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Ayuda</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Soporte<i class="far fa-question-circle"></i></p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Cuenta</p>
        </li>
      </ul>
    </div>

    <div class="list">
      <h4>POLÍTICAS</h4>
      <ul class="policicyLi">
        <li>
          <p [routerLink]="['/contacts']">Política de privacidad</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Términos de uso</p>
        </li>
        <li>
          <p [routerLink]="['/contacts']">Política legal</p>
        </li>
      </ul>
    </div>
  </div>
</div>