<!-- <iframe [src]="this.urlVideo" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen></iframe>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/iqrqShuQwaI" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> -->

<!-- <video class="video-secction-1" controls="" autoplay="" muted="" loop="">
    <source
        src="https://res.cloudinary.com/madeleinetestcloud/video/upload/v1626464646/poseidon/VID_20210619_221731_jbobib.mp4"
        type="video/mp4">
</video>  -->
<div style="padding:56.25% 0 0 0;position:relative;"><iframe [src]="this.urlVideo"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
<script src="https://player.vimeo.com/api/player.js%22%3E"></script>