.container {
  color: #fff;
  width: 100%;
  font-family: "Montserrat";
  text-align: center;
  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }

  .mat-stroked-button {
    border-color: #4caf50;
    padding: 0.6rem 9rem;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
  }

  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));

    .mat-card {
      width: 100%;
      aspect-ratio: 7 / 9;
      border-radius: 10px;
      background-color: #232323;
      color: #fff;
      padding: 0;
      margin: 4rem 0;
    }

    .mat-card-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      border-radius: 12px;
      position: relative;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.005);
      }

      .gradient {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        transition: 0.3s;

        &:hover {
          background: linear-gradient(
            transparent 0%,
            rgba(255, 255, 255, 0.062) 65%,
            rgba(255, 255, 255, 0.281) 100%
          );
          opacity: 1;
          cursor: pointer;
        }
      }

      h2 {
        font-style: italic;
      }
    }
  }
}
