<div class="container">
    <div class="title">
        <h1>Nuevas Clases todos los meses</h1>
    </div>

    <div class="filter">
        <div class="cards">
            <mat-card class="example-card" *ngFor="let serie of series;">

                <mat-card-content [ngStyle]="{'background-image':' url(' + serie.photo + ')'}">

                    <h2>
                        {{serie.title}}
                    </h2>
                    <!-- hover -->
                    <div class="gradient"></div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <button mat-stroked-button [routerLink]="['/series']">VER TODAS</button>
</div>