<div class="container">
    <div class="title">
        <h1>Nuevas Clases todos los meses</h1>
    </div>

    <div class="filter">
        <div class="cards">
            <!-- .slice() -> indicamos el número de datos que queremos filtrar en la web -->
            <!-- Desordenar el array de series, y cortamos los 4 primeros -->
            <mat-card class="example-card" *ngFor="let serie of series.sort(random).slice(0,4)">

                <mat-card-content (click)="select(serie.id)"
                    [ngStyle]="{'background-image':' url(' + serie.photo + ')'}">

                    <h2>
                        {{serie.title}}
                    </h2>
                    <!-- hover -->
                    <div class=" gradient">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <button mat-stroked-button [routerLink]="['/series']">VER TODAS</button>
</div>