.container {
  background-color: #0d0d0d;
  color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat";

  h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
  }

  .mat-stroked-button {
    border-color: #4caf50;
    padding: 0.6rem 9rem;
    border-radius: 8px;
    font-family: "Montserrat";
    font-weight: 500;
  }

  .cards {
    display: flex;
    margin: 2.5rem 0 4rem;

    .mat-card {
      width: 300px;
      height: 450px;
      border-radius: 10px;
      margin: 0.6rem;
      background-color: #232323;
      color: #fff;

      &:hover {
        background: linear-gradient(rgba(255, 255, 255, 0.089), #ffffff3a);
        cursor: pointer;
      }
    }

    .mat-card-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 11rem;

      h2 {
        font-style: italic;
      }
    }

    .mat-card-image:first-child {
      margin-top: -16px;
      border: none;
    }
  }
}
