nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 20vh;
  background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626270088/poseidon/streamclass2_hp2muh.png);
  background-size: 30%;
  background-repeat: no-repeat;
  p {
    text-transform: uppercase;
    font-size: 24px;
    padding: 2rem;
  }
}

.hero {
  margin-top: 5rem;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;

  .register-box {
    padding: 3rem;
    h1 {
      margin-top: 2rem;
      font-family: "Bebas Neue", cursive;
      font-size: 5rem;
      line-height: 5.5rem;
    }
    p {
      color: #bab9b9;
      font-size: 1rem;
      font-weight: 600;
      &.terms-conditions {
        font-size: 10px;
        text-align: center;
        margin: 0;
      }
    }

    form {
      width: 100%;
      display: flex;

      flex-direction: column;

      color: #bab9b9;

      mat-label {
        color: #fff;
      }
      .mat-form-field-wrapper {
        background-color: #fff !important;
      }
    }
    .mat-form-field-flex {
      color: red;
    }
  }
  .register-img {
    background-image: url(https://estaticos-cdn.prensaiberica.es/clip/e6e270bb-51b0-447d-9ab9-ead50623c852_16-9-aspect-ratio_default_0.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow-x: hidden;
  }
}

.mat-accordion {
  background-color: #181818;
  &:hover {
    background-color: #181818;
  }
  &:focus {
    background-color: #181818;
  }
}
.mat-expansion-panel-header {
  background-color: #181818;
  color: #fff !important;
  &:hover {
    background-color: #181818;
  }
}

.mat-flat-button {
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 16px;
}

.mat-checkbox {
  margin: 1rem;
}
.mat-checkbox-inner-container {
  background-color: #fff;
}
.subscription-plan {
  padding: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #181818 !important;
  font-size: 24px;
  font-weight: 600;
  color: #bab9b9;
  line-height: 3;
  h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
  }
  .device-img {
    width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626195030/pngaaa.com-480692_ulzwrd.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 24px;
  }
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reminder-register-box {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
  .hero {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    .register-box {
      padding: 3rem;
      h1 {
        margin-top: 0;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .register-img {
      width: 100%;
      height: 100%;
    }
  }
  .subscription-plan {
    padding: 3rem 0;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: #181818 !important;
    font-size: 24px;
    font-weight: 600;
    color: #bab9b9;
    line-height: 3;
    .subscription-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      font-style: italic;
      text-align: center;
    }
    p {
      font-size: 16px;
      padding-left: 1rem;
      line-height: 1.5;
      text-align: center;
      &.payment {
        font-size: 12px;
      }
    }
    .mat-flat-button {
      width: 150px;
    }
    .device-img {
      align-self: center;
      width: 80%;
      height: 100%;
      background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626195030/pngaaa.com-480692_ulzwrd.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 24px;
    }
  }
}
