<nav>
    <p>landing page</p>

    <p>categorias</p>
    <p>iniciar sesion</p>
</nav>

<div class="hero">
    <div class="register-box">
        <h1>
        </h1>
        <p>
        </p>
        <form>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tu mail</mat-label>
                <input matInput placeholder="Email" value="">
            </mat-form-field>
            <button mat-flat-button color="accent">ÚNETE</button>
        </form>
        <section class="example-section">
            <mat-checkbox class="example-margin">Mantenme al tanto de nuevas clases y noticias</mat-checkbox>

        </section>
        <p>4.99€/mes (pago anual) o 14.99€ por clase</p>
        <p>Al compartir tú email aceptas los Términos y Condiciones y la Politica de Privacidad</p>

    </div>
    <div class="register-img"></div>
</div>

<app-categories-grid></app-categories-grid>
<app-series-grid-landing [series]="series"></app-series-grid-landing>