@import "../../../../variables";

.landing-padding {
  padding: 5rem;
}
//HERO
.hero {
  //margin-top: 5rem;
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  .register-box {
    padding: 3rem;
    h1 {
      margin-top: 2rem;
      font-family: $fontAccentBebas;
      font-size: 5rem;
      line-height: 5.5rem;
    }
    p {
      color: $colorTextGrey;
      font-size: 1rem;
      font-weight: 600;
      &.terms-conditions {
        font-size: 10px;
        text-align: center;
        margin: 0;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      mat-label,
      .mat-flat-button {
        color: #ccc;
        font-family: "Montserrat";
        font-weight: 600;
      }
      .mat-flat-button {
        color: #fff;
      }
    }
  }
  .register-img {
    height: 80%;
    background-image: url(https://estaticos-cdn.prensaiberica.es/clip/e6e270bb-51b0-447d-9ab9-ead50623c852_16-9-aspect-ratio_default_0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
  }
}
.mat-flat-button {
  color: $colorText;
  padding: 1rem 2rem;
  border-radius: 8px;
}
.mat-checkbox {
  margin: 1rem;
  font-size: 11px;
}
.mat-checkbox-inner-container {
  background-color: $colorText;
}

//SUBSCRIPTION PLAN

.subscription-plan {
  padding: 6.5rem 0;
  width: 100%;
  //height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $colorBackgroundLight !important;
  font-size: 1.2rem;
  font-weight: 500;
  color: $colorTextGrey;
  line-height: 2.4;
  h3 {
    color: $colorText;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    line-height: 2.3rem;
    margin-bottom: 3.2rem;
  }
  .device-img {
    width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626195030/pngaaa.com-480692_ulzwrd.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 24px;
  }

  .mat-stroked-button {
    margin: 2rem 0 1rem;
    background-color: #4caf50;
    padding: 0.6rem 9rem;
    border-radius: 8px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 600;
  }

  .payment {
    margin-left: 4rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

//FAQ SECTION
// .faq-section {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
// .mat-accordion {
//    background-color: $colorBackgroundLight;
//   &:hover {
//     background-color: $colorBackgroundLight;
//   }
//   &:focus {
//     background-color: $colorBackgroundLight;
//   }
// }
// .mat-expansion-panel-header {
//   background-color: $colorBackgroundLight;
//   color: $colorText !important;
//   &:hover {
//     background-color: $colorBackgroundLight;
//   }
// }

//REMINDER REGISTER
.reminder-register-box {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  .register-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-transform: uppercase;
      font-size: 5rem;
      font-family: $fontAccentBebas;
      line-height: 1.3;
      letter-spacing: 1px;
    }
    p {
      color: $colorTextGrey;
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 2rem;
      &.mini-title {
        margin-bottom: 5rem;
        font-size: 1.5rem;
      }
    }
    .form-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
    form {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      mat-label,
      .mat-flat-button {
        color: #ccc;
        font-family: "Montserrat";
        font-weight: 600;
      }
      .mat-flat-button {
        color: #fff;
      }
    }
  }
}

//large screen
@media (max-width: 1200px) {
  .landing-padding {
    padding: 4rem;
  }

  .hero {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;

    .register-box {
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .register-img {
      height: 100vh;
      background-position: top;
    }
  }
  .subscription-plan {
    height: 60vh;
    .subscription-details {
      h3 {
        line-height: 1.5;
      }
      p {
        margin-top: 1rem;
        font-size: 16px;

        &.payment {
          font-size: 12px;
        }
      }
      .mat-flat-button {
        width: 150px;
        text-align: center;
      }
    }
  }
}

//medium screen
@media (max-width: 900px) {
  .landing-padding {
    padding: 2rem;
  }
  .hero {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;

    .register-box {
      padding: 3rem;
      h1 {
        margin-top: 0;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .mat-checkbox {
        margin: 0;
      }
    }
    .register-img {
      width: 100%;
      height: 100%;
    }
  }
  .subscription-plan {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #bab9b9;
    line-height: 3;
    .subscription-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      font-style: italic;
      text-align: center;
    }
    p {
      font-size: 16px;
      padding-left: 1rem;
      line-height: 1.5;
      text-align: center;
      &.payment {
        font-size: 12px;
      }
    }
    .button-box {
      display: flex;
      justify-content: center;
    }
    .device-img {
      align-self: center;
      width: 80%;
      height: 100%;
    }
  }

  .reminder-register-box {
    .register-box {
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 0.8rem;
        font-weight: 600;
        &.mini-title {
          margin-bottom: 3rem;
          font-size: 1.5rem;
        }
      }
      .form-box {
        button {
          padding: 1rem;
        }
      }
    }
  }
}
// small screen
@media (max-width: 450px) {
  .landing-padding {
    padding: 0.5rem;
  }
  .hero {
    margin-top: 0;
    width: 100%;
    height: 100vh;

    .register-box {
      padding: 1rem;
      h1 {
        font-size: 48px;
        line-height: 1;
      }
      p {
        text-align: center;
      }
    }
    .register-img {
      width: 100%;
      height: 50%;
    }
  }
  .subscription-plan {
    padding: 0;
    height: 100vh;

    .device-img {
      align-self: center;
      width: 80%;
      height: 30vh;
      background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626195030/pngaaa.com-480692_ulzwrd.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 24px;
    }
  }
  .reminder-register-box {
    .register-box {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
        font-weight: 600;
        &.mini-title {
          margin-bottom: 1.5rem;
          font-size: 1rem;
        }
      }
      form {
        margin-top: 1rem;
        width: 100%;
      }
      .form-box {
        button {
          padding: 0rem;
        }
      }
    }
  }
}
