.device-img {
  width: 400px;
  height: 400px;
  background-image: url(https://res.cloudinary.com/madeleinetestcloud/image/upload/v1626195030/pngaaa.com-480692_ulzwrd.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
