// COLORS

$backgroundMatCard: #232323;
$colorBackgroundDark: #0d0d0d;
$colorBackgroundLight: #181818;
$colorBackgroundInput: #192120;
$colorBackgroundInputLight: #818181;
$colorGreen: #4bb26b;
$colorText: #fff;
$colorTextGrey: #bab9b9;

// FONTS

$fontMontserrat: "Montserrat", sans-serif;
$fontAccentBebas: "Bebas Neue", cursive;
