// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "./variables";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$streamClass-primary: mat.define-palette(mat.$grey-palette, 900);
$streamClass-accent: mat.define-palette(mat.$green-palette, 500, A100, A400);

// The warn palette is optional (defaults to red).
$streamClass-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$streamClass-theme: mat.define-light-theme(
  (
    color: (
      primary: $streamClass-primary,
      accent: $streamClass-accent,
      warn: $streamClass-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($streamClass-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #181818;
  color: #fff;
}

.mat-checkbox-inner-container {
  background-color: #fff;
  outline: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #818181 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 8px !important;
}

//colores StreamClass
//general background #0d0d0d
//component background #181818
//green #4bb26b
//accent font font-family: 'Bebas Neue', cursive;
//font-family: 'Bebas Neue', cursive;
//font-family: 'Montserrat', sans-serif;

// link

// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
