<div>
    <h1>
        Deportistas
    </h1>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mi-tabla">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="bio">
                <th mat-header-cell *matHeaderCellDef> Bio </th>
                <td mat-cell *matCellDef="let element" class="truncate-text"> {{element.bio}} </td>
            </ng-container>
            <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef> Job </th>
                <td mat-cell *matCellDef="let element"> {{element.job}} </td>
            </ng-container>
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let element">
                    <div class="photo" *ngIf="dataSource" [style.backgroundImage]="'url(' + element?.photo + ')'"></div>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="series">
            <th mat-header-cell *matHeaderCellDef> Series </th>
            <td mat-cell *matCellDef="let element"> {{element.series}} </td>
        </ng-container> -->


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button>
                        <mat-icon color="warn" (click)="deleteSportsPlayer.emit(element.id)"><i class="fa fa-trash"></i>
                        </mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon color="primary" (click)="editSportsPlayer.emit(element.id)">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator *ngIf="totalItems" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" (page)="pageChanged($event)"
        [length]="totalItems" showFirstLastButtons>
    </mat-paginator> -->
    </div>
</div>