@import "../../../variables";
@import "../../../mixins";

.container {
  color: $colorText;
  padding: 4rem 7rem;
  text-align: left;
  font-family: $fontMontserrat;
  .title {
    text-align: left;
    h1 {
      font-family: $fontAccentBebas;
      font-size: 2.1rem;
    }
  }
  .ofert {
    @include flex-justify-between;
    @include Montserrat500;
    background-color: $colorBackgroundInput;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 12px;
    h2 {
      font-family: $fontMontserrat;
      margin-top: 18px;
      font-weight: 500;
    }
    .right-ofert {
      @include flex-align-center;
      h3 {
        margin-top: 18px;
      }
      .mat-flat-button {
        font-family: $fontMontserrat;
        margin-left: 4rem;
        color: #fff;
        padding: 0.5rem 3rem;
        border-radius: 8px;
        background-color: $colorGreen !important;
      }
    }
  }
  .filter {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2.5rem 0 4rem;
    .filter-functions {
      @include Montserrat500;
    }
    .cards {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
      .mat-card {
        width: 100%;
        aspect-ratio: 7 / 9;
        border-radius: 10px;
        background-color: $backgroundMatCard;
        color: $colorText;
        padding: 0;
      }
      .mat-card-content {
        height: 100%;
        @include flex-center;
        background-size: cover;
        border-radius: 12px;
        position: relative;
        transition: all 0.3s;
        font-weight: 550;
        h2 {
          padding-top: 100%;
        }
        &:hover {
          transform: scale(1.005);
        }
        .gradient {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          transition: 0.3s;
          &:hover {
            background: linear-gradient(
              transparent 0%,
              rgba(255, 255, 255, 0.062) 65%,
              rgba(255, 255, 255, 0.281) 100%
            );
            opacity: 1;
            cursor: pointer;
          }
        }
        h2 {
          font-family: $fontMontserrat;
          font-style: italic;
        }
      }
    }
  }
  h3 {
    cursor: pointer;
    @include Montserrat500;
    font-size: 1.0rem;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 3rem 6rem;
    .ofert {
      display: block;
      h2 {
        display: none;
      }
      .right-ofert {
        @include flex-just-between-only;
      }
    }
    .filter {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .filter-functions {
        @include flex-just-between-only;
      }
    }
  }
}

@media (max-width: 650px) {
  .container {
    padding: 3rem 3rem;
    .ofert {
      .right-ofert {
        display: flex;
        flex-direction: column-reverse;
        h3 {
          font-size: 0.8rem;
        }
        .mat-flat-button {
          margin-left: 0;
        }
      }
    }
  }
}
